* {
    box-sizing: border-box
}
body {
    background-color:#57483b;
    margin: 0;
    padding: 1rem;
    overflow-x: hidden;
}
section {
    margin: 2rem auto;
    max-width: 1000px;
}


h1{
    background-color: white;
    font-size: 3rem;
    color: rgb(33, 68, 36);
    font-weight: bolder;
    text-align: center;
    padding: 0.8rem 1.2rem;
    border-radius: 60px;
    margin: 1rem auto;
    max-width: 900px;
    overflow-wrap: break-word;
}
nav a{
    display: block;
    padding: 4px 8px;
    background-color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(33, 68, 36);
    font-weight: bold;
    font-size: 0.95re,;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a:hover{
        background-color: #dfeee2;
}

.carousel-wrap{
    max-width: 600px 
    margin 1.5rem auto;
}
.carousel-item{
    width: 100%;
    height: auto;
    object-fit:contain;
}

.subtitulo h2{
    padding: 1.3rem;
    border-radius: 40px;
    background-color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: rgb(33, 68, 36);
}

.subtitulo p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.5rem;
font-weight: bold;
color: #fff;
text-align: center;
}

.intro h2{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.intro p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #fff;
font-size: 1.2rem;
font-weight: bold;
}
.principios h2{
    color: rgb(33, 68, 36);
    padding: 0.5rem;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 1.5rem;
}
.principios ol{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}
.form{
    padding: 5px;
    border-radius: 15px;
    background-color:rgba(0, 0, 0, 0.247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #fff;
    max-width: 500px;
    margin: 2rem auto;

input, textarea {
    width: 100%;
}

}
.form button{
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(33, 68, 36);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}
footer{
    text-align: center;
}

/* SOBRE MI */
.yo h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: darkgoldenrod;
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
}
.about h3{
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(33, 68, 36);
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;

}

.about p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}
.me{
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
.follow{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: darkgoldenrod;
    padding: 0.2rem;
    text-align: center;
    font-weight: bolder;
}
.btn-social {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: rgb(33, 68, 36);
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-social:hover {
    transform: scale(1.05);
    background-color: #dfeee2;
}

.facebook:hover {
    background-color: #1877f2;
    color: #fff;
}
.instagram:hover {
    background-color: #e1306c;
    color: #fff;
}

/* Conceptos importantes*/
.resumen{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: darkgoldenrod;
    padding: 0.2rem;
    text-align: left;
    font-weight: bolder;
}
.mb-0{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding: 0.2rem;
    text-align: center;
    font-weight: bolder;
}
table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden; 
}


/*Recursos*/
.separacion section{
    
    background-color: #ffffff;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 900px;
    border-radius: 20px;
}
.list{
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
.separacion h2{
    color: rgb(33, 68, 36);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.separacion a{
    color: #57483b;
    font-weight: bold;
    text-decoration: none;
}
.separacion a:hover{
    text-decoration: underline;
}
.separacion section:hover{
    background-color: #dfeee2;
}